/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Galdeano',sans-serif;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 2px solid #fff;
}

.footer-container{
   background: #0b005e url("img/catfence.png") no-repeat right center;
   -webkit-box-shadow: 0 -5px 0px  #0B005E;
      -moz-box-shadow: 0 -5px 0px  #0B005E;
              box-shadow: 0 -5px 0 #0b005e;

}

.footer-container,
.main aside {
    border-top: 2px solid #fff;
}

.header-container,
.main aside {
   background: #0B005E;
   -webkit-box-shadow: 0 -5px 0px  #0B005E;
      -moz-box-shadow: 0 -5px 0px  #0B005E;
              box-shadow: 0 -5px 0 #0b005e;
}

.title a:link,.title a:visited,.title a:active,.title a:hover{
    color: white;
    text-decoration: none;
}

h1.title{
   font-family: 'Fjalla One',sans-serif;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;

    color: white;
    background: #D3CEAB;
}

nav a:hover {
    color: #86796E;

}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0 0 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

nav ul li:nth-of-type(1) a {
   background: #d3ceab url("img/tuto.png") no-repeat center center;
}

nav ul li:nth-of-type(2) a {
   background: #d3ceab url("img/music.png") no-repeat center center;
}

nav ul li:nth-of-type(3) a {
   background: #d3ceab url("img/email.png") no-repeat center center;
}


.main aside{
   background: rgb(11,0,94); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(11,0,94,1) 45%, rgba(4,0,56,1) 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(45%,rgba(11,0,94,1)), color-stop(99%,rgba(4,0,56,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(11,0,94,1) 45%,rgba(4,0,56,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(11,0,94,1) 45%,rgba(4,0,56,1) 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(11,0,94,1) 45%,rgba(4,0,56,1) 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(11,0,94,1) 45%,rgba(4,0,56,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b005e', endColorstr='#040038',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.gallery{
   width: 100%;
   height: 200px;
   margin: 30px 0;
   padding: 20px;
   float:left;
}

.gallery ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.gallery ul li{
   display: inline-block;
   width: 200px;
   height: 200px;
   margin-left: 20px;
   -moz-transform: rotate(-25deg);
}

.gallery a{
   display: block;
   margin: auto;
   width: 150px;
   height: 150px;
   border-radius: 50%;
-webkit-transition:all 1s ease-in-out 0s;
   -moz-transition:all 1s ease-in-out 0s;
     -o-transition:all 1s ease-in-out 0s;
        transition:all 1s ease-in-out 0s;
}


.gallery a:hover {
   border-radius: 0;
   width: 200px;
   height: 200px;
   margin: auto;
   box-shadow: -1px 2px 3px #000;
   -moz-transform: rotate(25deg);
}

#ssgns{
 background: #000 url("img/ssg.png") no-repeat;
 background-size: 100% 100%;
}

#classless{
 background: #000 url("img/classless.png") no-repeat;
 background-size: 100% 100%;
}

#talking{
 background: #000 url("img/talkingwall.png") no-repeat;
 background-size: 100% 100%;
}

#pedram{
 background: #000 url("img/pedram.png") no-repeat;
 background-size: 100% 100%;
}

.home{
   width: 57%;
}

.projects,.tutorials{
   height: 500px;
}

.contact {
   width: auto;
   margin: 60px 0 80px 40px;
}

.contact iframe{
   overflow: visible;
}






/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
        text-shadow: -1px 1px 0 #000;
 -webkit-transition:color 0.7s ease-in-out 0s;
   -moz-transition:color 0.7s ease-in-out 0s;
     -o-transition:color 0.7s ease-in-out 0s;
        transition:color 0.7s ease-in-out 0s;

    }

    nav li:first-child a {
        margin-left: 0;
        
 }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container
     {
        -webkit-box-shadow: 0 5px 0px  #0B005E;
           -moz-box-shadow: 0 5px 0px  #0B005E;
                box-shadow: 0 5px 0px #0b005e;
        background: #0b005e url("img/logojump.png") no-repeat 43% -10%;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
